<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.ehsunbehravesh.programmingassignment.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Assignment</servlet-name>
        <servlet-class>com.ehsunbehravesh.programmingassignment.servlet.AssignmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Assignment</servlet-name>
        <url-pattern>/assignment</url-pattern>
    </servlet-mapping>
</web-app>
